#### Importing practice datasets within R to Python after installing package 'pydataset' in Anaconda environment.  
Instructions on installation of 'pydataset' can be found here: https://github.com/iamaziz/PyDataset

In [1]:
import sys

In [2]:
sys.executable

'C:\\Users\\HuiXiang\\Anaconda35\\python.exe'

In [3]:
sys.path

['',
 'C:\\Users\\HuiXiang\\Anaconda35\\python36.zip',
 'C:\\Users\\HuiXiang\\Anaconda35\\DLLs',
 'C:\\Users\\HuiXiang\\Anaconda35\\lib',
 'C:\\Users\\HuiXiang\\Anaconda35',
 'C:\\Users\\HuiXiang\\Anaconda35\\lib\\site-packages',
 'C:\\Users\\HuiXiang\\Anaconda35\\lib\\site-packages\\Babel-2.5.0-py3.6.egg',
 'C:\\Users\\HuiXiang\\Anaconda35\\lib\\site-packages\\win32',
 'C:\\Users\\HuiXiang\\Anaconda35\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\HuiXiang\\Anaconda35\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\HuiXiang\\Anaconda35\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\HuiXiang\\.ipython']

In [4]:
# adding in the path where package pydataset was installed 
# step 1 to 4 is unnecessary if there is no error running the line below
sys.path.append('C:\\Users\\HuiXiang\\Anaconda3\\lib\\site-packages')

In [5]:
from pydataset import data

In [6]:
mtcars = data('mtcars')

In [7]:
mtcars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

#### Creating hypothetical datasets: Over here I'm creating a dataset with five columns, namely id, gender of students, and scores of test 1, 2 and 3. There are a total of 50 male and 50 female students. Each test score follows its own normal distribution.

In [8]:
# importing necessary modules
import pandas as pd
import numpy as np
import random

In [9]:
# setting a random seed
random.seed(1)

In [10]:
gen = []
for i in range(0,50):
    gender = 'Male'
    gen.append((gender))
for i in range(51,101):
    gender = 'Female'
    gen.append((gender))

In [11]:
# checking value of the first element
gen[0]

'Male'

In [12]:
# checking value of the 51st element
gen[50]

'Female'

In [13]:
# checking number of elements 
len(gen)

100

In [14]:
data = []
for i in range(0,100):
    id = i+1
    gender = gen[i]
    test1 = round(np.random.normal(50, 10))
    test2 = round(np.random.normal(55, 8))
    test3 = round(np.random.normal(58, 9))
    data.append((id, gender, test1, test2, test3))

In [15]:
data

[(1, 'Male', 59, 50, 49),
 (2, 'Male', 58, 51, 70),
 (3, 'Male', 72, 39, 50),
 (4, 'Male', 58, 48, 45),
 (5, 'Male', 38, 43, 56),
 (6, 'Male', 46, 68, 60),
 (7, 'Male', 51, 62, 58),
 (8, 'Male', 61, 52, 51),
 (9, 'Male', 62, 55, 67),
 (10, 'Male', 52, 44, 60),
 (11, 'Male', 48, 47, 63),
 (12, 'Male', 50, 63, 68),
 (13, 'Male', 67, 59, 54),
 (14, 'Male', 48, 66, 59),
 (15, 'Male', 34, 56, 67),
 (16, 'Male', 33, 70, 54),
 (17, 'Male', 57, 52, 61),
 (18, 'Male', 54, 65, 33),
 (19, 'Male', 55, 52, 70),
 (20, 'Male', 54, 41, 58),
 (21, 'Male', 43, 59, 44),
 (22, 'Male', 44, 58, 43),
 (23, 'Male', 44, 50, 51),
 (24, 'Male', 48, 55, 61),
 (25, 'Male', 31, 62, 54),
 (26, 'Male', 67, 56, 64),
 (27, 'Male', 41, 54, 60),
 (28, 'Male', 41, 58, 71),
 (29, 'Male', 46, 52, 49),
 (30, 'Male', 53, 47, 50),
 (31, 'Male', 63, 58, 56),
 (32, 'Male', 56, 45, 58),
 (33, 'Male', 44, 40, 71),
 (34, 'Male', 57, 60, 73),
 (35, 'Male', 29, 50, 55),
 (36, 'Male', 55, 55, 50),
 (37, 'Male', 62, 55, 55),
 (38, 'Male', 54, 40, 45),
 (39, 'Male', 63, 54, 53),
 (40, 'Male', 62, 58, 48),
 (41, 'Male', 56, 66, 69),
 (42, 'Male', 59, 62, 60),
 (43, 'Male', 30, 48, 47),
 (44, 'Male', 54, 44, 52),
 (45, 'Male', 55, 60, 50),
 (46, 'Male', 34, 55, 51),
 (47, 'Male', 33, 46, 66),
 (48, 'Male', 41, 66, 50),
 (49, 'Male', 48, 49, 61),
 (50, 'Male', 69, 63, 53),
 (51, 'Female', 67, 59, 60),
 (52, 'Female', 54, 47, 53),
 (53, 'Female', 55, 54, 74),
 (54, 'Female', 59, 65, 54),
 (55, 'Female', 54, 63, 55),
 (56, 'Female', 48, 59, 64),
 (57, 'Female', 33, 49, 66),
 (58, 'Female', 51, 55, 70),
 (59, 'Female', 61, 71, 66),
 (60, 'Female', 48, 49, 61),
 (61, 'Female', 52, 49, 62),
 (62, 'Female', 53, 61, 64),
 (63, 'Female', 50, 56, 61),
 (64, 'Female', 64, 55, 49),
 (65, 'Female', 31, 57, 82),
 (66, 'Female', 60, 46, 58),
 (67, 'Female', 39, 56, 50),
 (68, 'Female', 44, 50, 59),
 (69, 'Female', 52, 59, 45),
 (70, 'Female', 42, 37, 68),
 (71, 'Female', 37, 64, 57),
 (72, 'Female', 64, 56, 54),
 (73, 'Female', 53, 48, 63),
 (74, 'Female', 57, 50, 52),
 (75, 'Female', 37, 57, 53),
 (76, 'Female', 43, 50, 52),
 (77, 'Female', 71, 55, 56),
 (78, 'Female', 50, 64, 51),
 (79, 'Female', 39, 62, 83),
 (80, 'Female', 40, 44, 64),
 (81, 'Female', 35, 46, 52),
 (82, 'Female', 52, 63, 71),
 (83, 'Female', 46, 49, 54),
 (84, 'Female', 49, 59, 53),
 (85, 'Female', 52, 60, 58),
 (86, 'Female', 67, 47, 50),
 (87, 'Female', 49, 47, 59),
 (88, 'Female', 55, 63, 65),
 (89, 'Female', 45, 55, 70),
 (90, 'Female', 44, 62, 74),
 (91, 'Female', 57, 59, 73),
 (92, 'Female', 64, 47, 46),
 (93, 'Female', 49, 48, 51),
 (94, 'Female', 57, 58, 81),
 (95, 'Female', 53, 64, 47),
 (96, 'Female', 59, 58, 69),
 (97, 'Female', 64, 49, 68),
 (98, 'Female', 33, 73, 60),
 (99, 'Female', 35, 46, 72),
 (100, 'Female', 54, 57, 41)]

In [16]:
type(data)

list

In [17]:
# looking at first row in list
data[0]

(1, 'Male', 59, 50, 49)

In [18]:
# selecting first row fourth element
data[0][3]

50

In [19]:
df = pd.DataFrame(np.array(data))

In [20]:
df.columns = ['id','gender','test1','test2','test3']

In [21]:
df

     id  gender test1 test2 test3
0     1    Male    59    50    49
1     2    Male    58    51    70
2     3    Male    72    39    50
3     4    Male    58    48    45
4     5    Male    38    43    56
5     6    Male    46    68    60
6     7    Male    51    62    58
7     8    Male    61    52    51
8     9    Male    62    55    67
9    10    Male    52    44    60
10   11    Male    48    47    63
11   12    Male    50    63    68
12   13    Male    67    59    54
13   14    Male    48    66    59
14   15    Male    34    56    67
15   16    Male    33    70    54
16   17    Male    57    52    61
17   18    Male    54    65    33
18   19    Male    55    52    70
19   20    Male    54    41    58
20   21    Male    43    59    44
21   22    Male    44    58    43
22   23    Male    44    50    51
23   24    Male    48    55    61
24   25    Male    31    62    54
25   26    Male    67    56    64
26   27    Male    41    54    60
27   28    Male    41    58    71
28   29    Male    46    52    49
29   30    Male    53    47    50
30   31    Male    63    58    56
31   32    Male    56    45    58
32   33    Male    44    40    71
33   34    Male    57    60    73
34   35    Male    29    50    55
35   36    Male    55    55    50
36   37    Male    62    55    55
37   38    Male    54    40    45
38   39    Male    63    54    53
39   40    Male    62    58    48
40   41    Male    56    66    69
41   42    Male    59    62    60
42   43    Male    30    48    47
43   44    Male    54    44    52
44   45    Male    55    60    50
45   46    Male    34    55    51
46   47    Male    33    46    66
47   48    Male    41    66    50
48   49    Male    48    49    61
49   50    Male    69    63    53
50   51  Female    67    59    60
51   52  Female    54    47    53
52   53  Female    55    54    74
53   54  Female    59    65    54
54   55  Female    54    63    55
55   56  Female    48    59    64
56   57  Female    33    49    66
57   58  Female    51    55    70
58   59  Female    61    71    66
59   60  Female    48    49    61
60   61  Female    52    49    62
61   62  Female    53    61    64
62   63  Female    50    56    61
63   64  Female    64    55    49
64   65  Female    31    57    82
65   66  Female    60    46    58
66   67  Female    39    56    50
67   68  Female    44    50    59
68   69  Female    52    59    45
69   70  Female    42    37    68
70   71  Female    37    64    57
71   72  Female    64    56    54
72   73  Female    53    48    63
73   74  Female    57    50    52
74   75  Female    37    57    53
75   76  Female    43    50    52
76   77  Female    71    55    56
77   78  Female    50    64    51
78   79  Female    39    62    83
79   80  Female    40    44    64
80   81  Female    35    46    52
81   82  Female    52    63    71
82   83  Female    46    49    54
83   84  Female    49    59    53
84   85  Female    52    60    58
85   86  Female    67    47    50
86   87  Female    49    47    59
87   88  Female    55    63    65
88   89  Female    45    55    70
89   90  Female    44    62    74
90   91  Female    57    59    73
91   92  Female    64    47    46
92   93  Female    49    48    51
93   94  Female    57    58    81
94   95  Female    53    64    47
95   96  Female    59    58    69
96   97  Female    64    49    68
97   98  Female    33    73    60
98   99  Female    35    46    72
99  100  Female    54    57    41

#### The dataset created is complete but usually this is not the case in real world. So I'm making some scores for test 1 and 2 to be missing.

In [22]:
for i in range(0,9):
    df.loc[5*i,'test1'] = np.nan
    df.loc[6*i,'test2'] = np.nan

In [23]:
# looking at the first few rows of records in the dataset
df.head()

  id gender test1 test2 test3
0  1   Male   NaN   NaN    49
1  2   Male    58    51    70
2  3   Male    72    39    50
3  4   Male    58    48    45
4  5   Male    38    43    56

#### We can choose to save the dataset as a csv file.

In [24]:
df.to_csv('Class1.csv')