#### Over here I'm creating a dataset with five columns, namely id, gender of students, and scores of test 1, 2 and 3. There are a total of 50 male and 50 female students. Each test score follows its own normal distribution.

In [1]:
data<-matrix(,100,5)

In [2]:
set.seed(1)

In [3]:
for(i in 1:100){
    data[i,1]<-i
    data[i,3]<-round(rnorm(1, 50, 10))
    data[i,4]<-round(rnorm(1, 55, 8))
    data[i,5]<-round(rnorm(1, 58, 9))
}

In [4]:
for(i in 1:50){
    data[i,2]<-"Male"
}

for(i in 51:100){
    data[i,2]<-"Female"
}

In [5]:
data<-data.frame(data)

In [6]:
colnames(data)<-c("id","gender","test1","test2","test3")

In [7]:
head(data)

  id gender test1 test2 test3
1 1  Male   44    56    50
2 2  Male   66    58    51
3 3  Male   55    61    63
4 4  Male   47    67    62
5 5  Male   44    37    68
6 6  Male   50    55    66

#### The datasets created are complete and usually this is not the case in real world. So I'm making some scores for test 1, 2 and 3 to be missing.

In [8]:
for (i in 1:10){
    data[5*i,3]<-NA
    data[6*i,4]<-NA
    }
data$test1<-as.numeric(data$test1)

In [9]:
head(data)

  id gender test1 test2 test3
1 1  Male   12    56    50
2 2  Male   34    58    51
3 3  Male   23    61    63
4 4  Male   15    67    62
5 5  Male   NA    37    68
6 6  Male   18    NA    66

#### You can choose to save the dataset as a csv file.

In [10]:
write.csv(data, file = "Class1.csv", row.names=FALSE)

In [11]:
read.csv("Class1.csv")

    id  gender test1 test2 test3
1    1  Male   12    56    50
2    2  Male   34    58    51
3    3  Male   23    61    63
4    4  Male   15    67    62
5    5  Male   NA    37    68
6    6  Male   18    NA    66
7    7  Male   26    60    66
8    8  Male   26    56    40
9    9  Male   24    55    57
10  10  Male   NA    51    62
11  11  Male   32    54    61
12  12  Male   17    NA    54
13  13  Male   14    55    68
14  14  Male   26    54    56
15  15  Male   NA    59    52
16  16  Male   11    58    65
17  17  Male   17    62    62
18  18  Male   12    NA    48
19  19  Male   32    71    55
20  20  Male   NA    60    57
21  21  Male   40    55    64
22  22  Male   18    49    60
23  23  Male    3    67    59
24  24  Male   39    NA    52
25  25  Male   NA    48    47
26  26  Male   21    51    58
27  27  Male   19    50    53
28  28  Male   17    64    44
29  29  Male   24    58    68
30  30  Male   NA    NA    60
... ... ...    ...   ...   ...
71   71 Female 16    58    54
72   72 Female  5    63    72
73   73 Female 15    45    64
74   74 Female 18    41    58
75   75 Female 12    52    48
76   76 Female 36    52    44
77   77 Female 20    57    49
78   78 Female  1    50    63
79   79 Female 17    54    63
80   80 Female  7    64    58
81   81 Female 25    63    60
82   82 Female 10    64    40
83   83 Female 13    53    57
84   84 Female 28    56    62
85   85 Female 17    53    64
86   86 Female 29    36    63
87   87 Female 22    52    67
88   88 Female 14    53    66
89   89 Female 35    57    54
90   90 Female  7    52    50
91   91 Female 15    58    50
92   92 Female 41    56    68
93   93 Female  2    61    46
94   94 Female 27    58    54
95   95 Female 31    49    53
96   96 Female  9    50    67
97   97 Female 22    63    54
98   98 Female 22    57    45
99   99 Female 36    56    65
100 100 Female 28    55    55