#### Over here I'm creating four datasets for use, namely gender of students, scores of test 1, 2 and 3. There are a total of 50 male and 50 female students. Each test score follows its own normal distribution. The datasets created are complete and usually this is not the case in real world. So I'm making some scores for test 1, 2 and 3 to be missing. Assume the datasets you received are dataset1, dataset2, dataset3 and dataset4.

In [62]:
id<-matrix(c(1:100),nr=100,nc=1)

In [67]:
id<-data.frame(id)

In [48]:
set.seed(1)

In [49]:
test1 <-round(rnorm(100, 50, 10))
test2 <-round(rnorm(100, 55, 8))
test3 <-round(rnorm(100, 58, 9))

In [50]:
head(set1)

[1] 44 52 42 66 53 42

In [51]:
df1 <-data.frame(test1)
df2 <-data.frame(test2)
df3 <-data.frame(test3)

In [64]:
gender <-matrix("Male",nr=100,nc=1)
gender[51:100] <-c("Female")

In [68]:
dataset1<-cbind(id,gender)

In [77]:
dataset2<-cbind(id, df1)

In [71]:
dataset3<-cbind(id,df2)

In [72]:
dataset4<-cbind(id,df3)

#### Upon receiving four datasets, we want to combine them into one main dataset. We have to check the datasets we had received is correct.

#### We need to merge.

In [73]:
data<-merge(dataset1, dataset2, on="id")

In [75]:
data<-merge(data, dataset3, on="id")
data<-merge(data, dataset4, on="id")

In [76]:
summary(data)

       id            gender        set1            set2            set3
 Min.   :  1.00   Female:50   Min.   :28.00   Min.   :40.00   Min.   :32.00
 1st Qu.: 25.75   Male  :50   1st Qu.:45.00   1st Qu.:50.00   1st Qu.:53.75
 Median : 50.50               Median :51.50   Median :54.00   Median :58.00
 Mean   : 50.50               Mean   :51.14   Mean   :54.72   Mean   :58.23
 3rd Qu.: 75.25               3rd Qu.:57.00   3rd Qu.:59.00   3rd Qu.:64.00
 Max.   :100.00               Max.   :74.00   Max.   :73.00   Max.   :82.00

In [58]:
data[1:10,2]<-""
data$set1<-as.numeric(data$set1)

In [59]:
head(data)

  gender set1 set2 set3
1 Male   NA   50   62
2 Male   NA   55   73
3 Male   NA   48   72
4 Male   NA   56   55
5 Male   NA   50   37
6 Male   NA   69   80

In [60]:
summary(data)

    gender        set1            set2            set3
 Female:50   Min.   :28.00   Min.   :40.00   Min.   :32.00
 Male  :50   1st Qu.:45.00   1st Qu.:50.00   1st Qu.:53.75
             Median :51.00   Median :54.00   Median :58.00
             Mean   :51.11   Mean   :54.72   Mean   :58.23
             3rd Qu.:57.00   3rd Qu.:59.00   3rd Qu.:64.00
             Max.   :74.00   Max.   :73.00   Max.   :82.00
             NA's   :10

#### Say, some time later, another dataset containing new set of ids, gender, and three test scores are made available and now you would like to append the dataset.