In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os
import sys
import time

In [2]:
sys.path

['',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\fake_useragent-0.1.8-py2.7.egg',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\bs4-0.0.1-py2.7.egg',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\coala_utils-0.5.1-py2.7.egg',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\xgoogle-1.3-py2.7.egg',
 'C:\\Users\\HuiXiang\\Anaconda2\\python27.zip',
 'C:\\Users\\HuiXiang\\Anaconda2\\DLLs',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\plat-win',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\lib-tk',
 'C:\\Users\\HuiXiang\\Anaconda2',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\Sphinx-1.3.5-py2.7.egg',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\win32',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\HuiXiang\\Anaconda2\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\HuiXiang\\.ipython']

In [3]:
print(sys.version)

2.7.13 |Anaconda custom (64-bit)| (default, May 11 2017, 13:17:26) [MSC v.1500 64 bit (AMD64)]

#### Selecting from dropdown list and submitting selection using selenium

In [4]:
url = 'https://www.transitlink.com.sg/eservice/eguide/rail_idx.php'
driver = webdriver.Chrome()
driver.implicitly_wait(30)
driver.get(url)

In [5]:
select = Select(driver.find_element_by_name('mrtcode_start'))
index = 1
select.select_by_index(index)
# select.select_by_visible_text("text")
# select.select_by_value(value)

In [6]:
select_end = Select(driver.find_element_by_name('mrtcode_end'))
index_end = 2
select_end.select_by_index(index_end)

In [7]:
len(select.options)

158

In [8]:
driver.find_element_by_name("submit").click()

#### Scraping results returned from selection on fares and travel time using BeautifulSoup

In [9]:
soup_level1=BeautifulSoup(driver.page_source, 'lxml')

In [10]:
soup_level1.find_all('td', class_ = "subhead2")

[<td class="subhead2">Adult</td>,
 <td class="subhead2">Senior Citizen / PWD <span class="super">#</span></td>,
 <td class="subhead2">Student</td>,
 <td class="subhead2">WTCS <span class="super">#</span></td>]

In [11]:
soup_level1.find_all('td')

[<td width="10%"><img src="../imgs/transitlink_logo_60.jpg"/></td>,
 <td><img alt="Electronic Guide" src="../imgs/title/eguide.png"/></td>,
 <td class="subhead" width="50%">From</td>,
 <td class="subhead">To</td>,
 <td class="data"><span id="railColorNS">NS10</span>\xa0\xa0Admiralty</td>,
 <td class="data"><span id="railColorEW">EW9</span>\xa0\xa0 Aljunied</td>,
 <td class="subhead" width="25%">* Fare Type</td>,
 <td class="subhead" width="25%">* Card</td>,
 <td class="subhead">Standard Ticket</td>,
 <td class="subhead">^ Estimated Travel Time (min)</td>,
 <td class="subhead2">Adult</td>,
 <td width="15%">$1.85</td>,
 <td rowspan="4">$2.50</td>,
 <td rowspan="4">42</td>,
 <td class="subhead2">Senior Citizen / PWD <span class="super">#</span></td>,
 <td>$0.87</td>,
 <td class="subhead2">Student</td>,
 <td>$0.58</td>,
 <td class="subhead2">WTCS <span class="super">#</span></td>,
 <td>$1.51</td>]

In [12]:
soup_level1.find_all('td')[-1].get_text().strip()

u'$1.51'

In [13]:
soup_level1.find_all('td')[-3].get_text()

u'$0.58'

In [14]:
soup_level1.find_all('td')[-5].get_text()

u'$0.87'

In [15]:
soup_level1.find_all('td')[-7].get_text()

u'42'

In [16]:
soup_level1.find_all('td')[-8].get_text()

u'$2.50'

In [17]:
soup_level1.find_all('td')[-9].get_text()

u'$1.85'

In [18]:
soup_level1.find_all('td' , class_ = "data")

[<td class="data"><span id="railColorNS">NS10</span>\xa0\xa0Admiralty</td>,
 <td class="data"><span id="railColorEW">EW9</span>\xa0\xa0 Aljunied</td>]

In [19]:
soup_level1.find_all('td' , class_ = "data")[0].get_text()

u'NS10\xa0\xa0Admiralty'

In [20]:
soup_level1.find_all('td' , class_ = "data")[1].get_text()

u'EW9\xa0\xa0 Aljunied'

#### Putting everything together and looping through the actions

In [21]:
data = []
#for i in range(0,157):
for i in range(0,1):
    #for j in range(0,157):
    for j in range(0,10):
        url = 'https://www.transitlink.com.sg/eservice/eguide/rail_idx.php'
        driver = webdriver.Chrome()
        driver.implicitly_wait(30)
        driver.get(url)
        select = Select(driver.find_element_by_name('mrtcode_start'))
        index = i+1
        select.select_by_index(index)
        select_end = Select(driver.find_element_by_name('mrtcode_end'))
        index_end = j+1
        select_end.select_by_index(index_end)
        driver.find_element_by_name("submit").click()
        soup_level1=BeautifulSoup(driver.page_source, 'lxml')
        Station_start = soup_level1.find_all('td' , class_ = "data")[0].get_text()
        Station_end = soup_level1.find_all('td' , class_ = "data")[1].get_text()
        Time = soup_level1.find_all('td')[-7].get_text()
        Standard = soup_level1.find_all('td')[-8].get_text()
        Adult = soup_level1.find_all('td')[-9].get_text()
        Senior = soup_level1.find_all('td')[-5].get_text()
        Student = soup_level1.find_all('td')[-3].get_text()
        WTCS = soup_level1.find_all('td')[-1].get_text()
        data.append((Station_start,Station_end,Time,Standard,Adult,Senior,Student,WTCS))
        time.sleep(3)
        driver.close()
        print(i,j)
        time.sleep(1)

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)
(0, 6)
(0, 7)
(0, 8)
(0, 9)

In [22]:
data

[(u'NS10\xa0\xa0Admiralty',
  u'NS10\xa0\xa0 Admiralty',
  u'0',
  u'$1.40',
  u'$0.77',
  u'$0.54',
  u'$0.37',
  u'$0.63'),
 (u'NS10\xa0\xa0Admiralty',
  u'EW9\xa0\xa0 Aljunied',
  u'42',
  u'$2.50',
  u'$1.85',
  u'$0.87',
  u'$0.58',
  u'$1.51'),
 (u'NS10\xa0\xa0Admiralty',
  u'NS16\xa0\xa0 Ang Mo Kio',
  u'17',
  u'$2.20',
  u'$1.49',
  u'$0.87',
  u'$0.58',
  u'$1.21'),
 (u'NS10\xa0\xa0Admiralty',
  u'SE3\xa0\xa0 Bakau',
  u'53',
  u'$2.50',
  u'$1.87',
  u'$0.87',
  u'$0.58',
  u'$1.52'),
 (u'NS10\xa0\xa0Admiralty',
  u'BP9\xa0\xa0 Bangkit',
  u'26',
  u'$2.20',
  u'$1.53',
  u'$0.87',
  u'$0.58',
  u'$1.24'),
 (u'NS10\xa0\xa0Admiralty',
  u'CC12\xa0\xa0 Bartley',
  u'30',
  u'$2.40',
  u'$1.72',
  u'$0.87',
  u'$0.58',
  u'$1.39'),
 (u'NS10\xa0\xa0Admiralty',
  u'CE1\xa0\xa0DT16\xa0\xa0 Bayfront',
  u'40',
  u'$2.50',
  u'$1.87',
  u'$0.87',
  u'$0.58',
  u'$1.52'),
 (u'NS10\xa0\xa0Admiralty',
  u'DT5\xa0\xa0 Beauty World',
  u'35',
  u'$2.30',
  u'$1.65',
  u'$0.87',
  u'$0.58',
  u'$1.33'),
 (u'NS10\xa0\xa0Admiralty',
  u'EW5\xa0\xa0 Bedok',
  u'46',
  u'$2.50',
  u'$1.89',
  u'$0.87',
  u'$0.58',
  u'$1.54'),
 (u'NS10\xa0\xa0Admiralty',
  u'DT29\xa0\xa0 Bedok North',
  u'43',
  u'$2.50',
  u'$1.87',
  u'$0.87',
  u'$0.58',
  u'$1.52')]

In [23]:
len(data)

10

In [24]:
df = pd.DataFrame(np.array(data))

In [25]:
df.columns = ['Station_start','Station_end','Time','Standard','Adult','Senior','Student','WTCS']

In [26]:
df.head()

,Station_start,Station_end,Time,Standard,Adult,Senior,Student,WTCS
0,NS10 Admiralty,NS10 Admiralty,0,$1.40,$0.77,$0.54,$0.37,$0.63
1,NS10 Admiralty,EW9 Aljunied,42,$2.50,$1.85,$0.87,$0.58,$1.51
2,NS10 Admiralty,NS16 Ang Mo Kio,17,$2.20,$1.49,$0.87,$0.58,$1.21
3,NS10 Admiralty,SE3 Bakau,53,$2.50,$1.87,$0.87,$0.58,$1.52
4,NS10 Admiralty,BP9 Bangkit,26,$2.20,$1.53,$0.87,$0.58,$1.24

In [27]:
df.tail()

,Station_start,Station_end,Time,Standard,Adult,Senior,Student,WTCS
5,NS10 Admiralty,CC12 Bartley,30,$2.40,$1.72,$0.87,$0.58,$1.39
6,NS10 Admiralty,CE1 DT16 Bayfront,40,$2.50,$1.87,$0.87,$0.58,$1.52
7,NS10 Admiralty,DT5 Beauty World,35,$2.30,$1.65,$0.87,$0.58,$1.33
8,NS10 Admiralty,EW5 Bedok,46,$2.50,$1.89,$0.87,$0.58,$1.54
9,NS10 Admiralty,DT29 Bedok North,43,$2.50,$1.87,$0.87,$0.58,$1.52

In [28]:
df.to_csv('mrtfare051018.csv', encoding = 'utf-8')